<!doctype html>
<html lang="cs">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="{$basePath}/assets/css/style.css" rel="stylesheet">
	<link href="{$basePath}/assets/plugins/fontawesome/pro/v5/css/all.css" rel="stylesheet">

	<title>{ifset title}{include title|stripHtml} &centerdot; {/ifset}APP Universe</title>
</head>
<body>

<div class="container">
	{include content}
</div>

<script src="{$basePath}/assets/js/bootstrap.bundle.min.js"></script>

<script src="{$basePath}/assets/plugins/fontawesome/pro/v5/js/all.js"></script>
<script src="{$basePath}/assets/js/jQuery.js"></script>

</body>
</html>