<!doctype html>
<html lang="cs">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.satraglobal.cz/theme/bootstrap/v5.0.0-beta/css/bootstrap.min.css" rel="stylesheet">

	<title>{ifset title}{include title|stripHtml} | {/ifset}SATRA GLOBAL</title>
</head>
<body>

{include content}

<script src="https://cdn.satraglobal.cz/theme/bootstrap/v5.0.0-beta/js/bootstrap.bundle.min.js"></script>

</body>
</html>